{% extends 'base.html.twig' %}

{% block title %}Mes Adresses | Provoke{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon adresse de livraison</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>

        {{ form_end(form) }}
   </div>

{% endblock %}
{% block footer %}
        <div class="footer-container mt-5 d-flex justify-content-around fixed-bottom">
          <div class="grid-footer-flex">
            <div class="grid-item-left">
              <div class="footer-flex__menu-center mt-5">
                <h5>Provoke Your Destiny</h5>
                <ul class="footer-general-nav">
                  <li><a href="{{path('about')}}">A propos de nous</a></li>
                </ul>
                <ul class="footer-general-nav">
                  <li><a href="{{path('partenaires')}}">Devenir Partenaire</a></li>
                </ul>
              </div>
            </div>
          </div>
            <div class="grid-item-center">
              <div class="footer-contact-top mt-5">
                <h5>Contactez-nous</h5>
                <ul class="footer-general-nav">
                  <li><a href="{{path('faq')}}">FAQ</a></li>
                </ul>
              </div>
              <div class="footer-help">
                <h5>Informations</h5>
                <ul class="footer-general-nav">
                  <li><a href="{{path('retours')}}">Politique des retours</a></li>
                </ul>
                <ul class="footer-general-nav">
                  <li><a href="{{path('tailles')}}">Guide des tailles</a></li>
                </ul>
                <ul class="footer-general-nav">
                  <li><a href="{{path('cgv')}}">Conditions Générale de Vente</a></li>
                </ul>
              </div>
            </div>
          <div class="footer-copyright mt-5">
            <div class="grid">
              <div class="copyright-left">
                <p role="contentinfo">@ 2019 <strong>Provoke Corporation</strong> | Tous droits réservés |<br> ProvokeUrDestiny.com</p>
              </div>
              <div class="copyright-center">
                <ul class="footer-list">
                  <li><a href="{{path('confidentialite')}}">Politique de Confidentialité</a></li>
                <ul>
              </div>
              <div class="social">
                <h5 class="mb-3">Réseaux Sociaux</h5>
                  <a class="fb-ic mr-3" href="https://fr-fr.facebook.com/" target="blank"><i class="fab fa-facebook-f" style="font-size:23px;"></i></a>
                  <a class="tw-ic mr-3" href="https://twitter.com/login?lang=fr" target="blank"><i class="fab fa-twitter" style="font-size:23px;"></i></a>
                  <a class="ins-ic mr-3" href="https://www.instagram.com/?hl=fr" target="blank"><i class="fab fa-instagram" style="font-size:23px;"></i></a>
                  <a class="ins-ic" href="https://www.spotify.com/fr/" target="blank"><i class="fab fa-spotify" style="font-size:23px;"></i></a>
              </div>
            </div>
          </div>
        {% endblock %}